.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 6.25rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  background: var(--primary-color);
  border-radius: 100px;
  color: white;
  font-weight: 600;
  transition: all 0.1s ease-in-out;
  position: relative;
}

.button--stroke:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 6.25rem;
  pointer-events: none;
}

.button__label {
  position: relative;
  text-align: center;
  transition: color 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.button--stroke:hover .button__label {
  transition: color 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.button__flair {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

.button--stroke .button__flair {
  transform: scale(0);
  transform-origin: 0 0;
}

.button__flair:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  aspect-ratio: 1/1;
  background: var(--gradient-bg-primary);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
