.orange {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #753500;
}

.text {
  color: #fff;
}

.black {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #ffffff;
}

.blue {
  height: 0vh;
  background-color: gray;
  background-image: url("https://ronasit.com/_next/image/?url=%2F_next%2Fstatic%2Fmedia%2Fservices-web.9441f830.webp&w=3840&q=75");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.text-wrap {
  position: relative;
  overflow: hidden;
  width: 450px;
  height: 80vh;
  background-color: red;
}

.panel-text {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  transform: translateY(100%);
}

.p-wrap {
  position: relative;
  overflow: hidden;
  width: 450px;
  height: 80vh;
}

.panel {
  position: absolute;
  left: 0%;
  top: 90px;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0;
  z-index: 2;
  pointer-events: none;
}

.panel._2 {
  z-index: 1;
  background: red;
}

.panel.blue {
  z-index: auto;
}

.panel.red {
  z-index: auto;
  background-color: grey;
  background-image: url("https://ronasit.com/_next/image/?url=%2F_next%2Fstatic%2Fmedia%2Fcase-hamperapp.1800d776.webp&w=3840&q=75");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.panel.orange {
  z-index: auto;
  background-color: grey; /* Hoặc có thể xóa dòng này */
  background-image: url("https://ronasit.com/_next/image/?url=%2F_next%2Fstatic%2Fmedia%2Fcase-uk-retreats.0bcec8e6.webp&w=3840&q=75");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.panel.purple {
  z-index: auto;
  background-color: grey; /* Hoặc có thể xóa dòng này */
  background-image: url("https://ronasit.com/_next/image/?url=%2F_next%2Fstatic%2Fmedia%2Fcase-oddscrowd.82e530da.webp&w=3840&q=75");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
