.layout_page {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 6.5rem;
  box-sizing: border-box;
  width: 100%;
}

.visibleSplash {
  overflow: visible !important;
}

.splashScreen {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  border-bottom: 1px solid var(--primary-color);
  overflow: hidden;
  transition: top 1.5s ease;
  z-index: 999999;
}

.animateOut {
  top: -100%;
}

.loadingContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  overflow: hidden;
}

.loadingBox {
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease;
}

.show {
  opacity: 1;
}
