.get_in_touch__link {
  font-size: 4rem;
  line-height: 4rem;
  font-weight: 700;
  position: relative;
  transition: all 1s;

  &:hover {
    background: var(--background-banner);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
