.toggle_label {
  position: relative;

  &:before {
    position: absolute;
    top: 1px;
    left: 1px;
    display: block;
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 9999%;
    background-color: #03030f;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40%;
    transition: transform 0.5s cubic-bezier(0, 0, 0.5, 1);
    transform: translateX(0);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }
}

.toggle_checkbox:checked + .toggle_label:before {
  transform: translateX(10px);
  background-color: #fff;
}

.toggle {
  &.slim {
    .toggle_label:before {
      top: -0.15rem;
      left: 0;
    }

    .toggle_checkbox:checked + .toggle_label:before {
      transform: translateX(1.75rem);
    }
  }

  &.color {
    .toggle_label {
      background-color: transparent;
      border: 1px solid #03030f;
    }

    .toggle_checkbox:checked + .toggle_label {
      background-color: #03030f;
    }
  }
}
